
@font-face {
  font-family: 'YanoneKaffeesatz-Regular';
  src: url('YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),  url('YanoneKaffeesatz-Regular.otf')  format('opentype'),
	     url('YanoneKaffeesatz-Regular.woff') format('woff'), url('YanoneKaffeesatz-Regular.ttf')  format('truetype'), url('YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
