/*
 * PixPro - Admin Dashboard
 * © 2014. All rights reserved by Creativico
 */
/***** Login Page *****/
.login-page {
  background: url('../_demo/background.jpg') center center repeat;
  background-size: cover;
}
.login-box {
  border-radius: 3px;
  background-color: #fff;
  margin: 0 auto;
  width: 340px;
 
  overflow: hidden;
}
.login-box-title {
  background-color: #ffffff;
  padding: 15px 25px;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.login-box-title.green {
  background-color: #a5c562;
  padding-bottom: 13px;
}
.login-box-title.red {
  background-color: #ff503f;
  padding-bottom: 13px;
}
.login-box-title.gray {
  background-color: #252b33;
  padding-bottom: 13px;
}
.login-box-title.light-blue {
  background-color: #91dff3;
  padding-bottom: 13px;
}
.login-box-title.yellow {
  background-color: #fdc554;
  padding-bottom: 13px;
}
.login-box-title.orange {
  background-color: #ff503f;
  padding-bottom: 13px;
}
.login-box-title.purple {
  background-color: #8175c7;
  padding-bottom: 13px;
}
.login-box-content {
  padding: 20px;
}
.login-box-content label {
  padding: 10px;
  color: #252b33;
}
.login-box-content input {
  margin-bottom: 15px;
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #e1e5e6;
  padding: 5px 10px;
  box-sizing: padding-box;
  border-radius: 3px;
}
.login-box-content input:focus {
  border-bottom-color: #ff503f;
}
.login-box-content input[type="submit"] {
  background-color: #323a45;
  padding: 14px 10px;
  box-sizing: padding-box;
  color: #fff;
  border-bottom: 0px !important;
}
.login-box-content .half {
  width: 49%;
  display: inline-block;
}
.login-box-content .half.last {
  text-align: right;
}
/*-------------------------------------*/
.hidden-xs {display:none;}
.login-box-content input[type="submit"].inSumt22 {
    width: 190px;
    height: 50px;
    color: #fff;
    background: #378111;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    line-height: 40px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    font-weight: 500;
	padding: 0;
}	
.login-box-content input[type="submit"].inSumt22:hover {    background: #81d61e;}
.top-bar {display:none;}	
header {text-align:center; padding:13px 0; background:rgba(0, 0, 0, 0.6);}