
@font-face {
  font-family: 'Swiss924BT-RegularB';
  src: url('Swiss924BT-RegularB.eot?#iefix') format('embedded-opentype'),  url('Swiss924BT-RegularB.woff') format('woff'), url('Swiss924BT-RegularB.ttf')  format('truetype'), url('Swiss924BT-RegularB.svg#Swiss924BT-RegularB') format('svg');
  font-weight: normal;
  font-style: normal;
}
